<nav class="navbar navbar-expand-xl navbar-light site-nav">
    <div class="container-fluid align-items-center">
        <a class="navbar-brand" href="index.html"> <img src="assets/images/credit-for-Life-logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav ml-auto">
                <li>
                    <a href="#">CHECKING BALANCE
                        <span>$X,XXX</span></a>
                </li>
                <li>
                    <a href="#">SAVINGS BALANCE
                        <span>$X,XXX</span></a>
                </li>
                <li>
                    <a href="#">Credit Card Balance
                        <span>$X,XXX</span></a>
                </li>
                <li class="link-bg">
                    <a href="d-profile.html" class="profile">PROFILE</a>
                </li>
                <li class="link-bg">
                    <a href="#" class="help">HELP</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="banner">
    <div class="container">
        <form class="form">
            <div class="inputGroup">
                <input id="check1" name="check" type="checkbox">
                <label for="check1">
                 <a href="charitable-giving.html">Charitable <br> Giving</a></label>
            </div>
            <div class="inputGroup">
                <input id="check2" name="check" type="checkbox">
                <label for="check2"> <a href="education-and-training.html">Education  <br>
                    & Training</a></label>
            </div>
            <div class="inputGroup">
                <input id="check3" name="check" type="checkbox">
                <label for="check3"> <a href="d-food-nutrition.html">Food & <br>
                    Nutrition  </a></label>
            </div>
            <div class="inputGroup">
                <input id="check4" name="check" type="checkbox" checked>
                <label for="check4"><a href="health-and-fitness.html">Health & <br>
                    Wellness </a></label>
            </div>
            <div class="inputGroup">
                <input id="check5" name="check" type="checkbox">
                <label for="check5"><a href="housing-furniture-and-utilities.html">Housing,  <br>
                    Furniture <br>
                    & Utilities</a></label>
            </div>
            <div class="inputGroup">
                <input id="check6" name="check" type="checkbox">
                <label for="check6"><a href="lifestyle.html">Lifestyle</a></label>
            </div>
            <div class="inputGroup">
                <input id="check7" name="check" type="checkbox">
                <label for="check7"><a href="fun-fun-fun.html">Fun! Fun! Fun!</a></label>
            </div>
            <div class="inputGroup">
                <input id="check8" name="check" type="checkbox" checked>
                <label for="check8"> <a href="part-time-Jobs.html">Part-time <br>
                    Jobs</a></label>
            </div>
            <div class="inputGroup">
                <input id="check9" name="check" type="checkbox">
                <label for="check9">  <a href="d-planning-for-the-future.html">Planning for <br>
                    the Future</a></label>
            </div>
            <div class="inputGroup">
                <input id="check10" name="check" type="checkbox">
                <label for="check10"> <a href="transportation.html">Transportation</a></label>
            </div>
        </form>
    </div>
</section>
<section class="food-nutrition">
    <div class="container">
        <div class="food-sec">
            <div class="row">
                <div class="col-md-3">
                    <div class="box">
                        <img src="assets/images/car.png" alt="car" />
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="text">
                        <p>Transportation</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="food-menu">
            <div class="row">
                <div class="col-md-9">
                    <div class="text">
                        <p>How will you get to work? Uber/Lyft and more; associated costs like gas and maintenance are included in the vehicle options.</p>
                    </div>
                </div>
                <div class="col-md-3 p-md-0">
                    <div class="text side">
                        <h5>Have a question? </h5>
                        <!-- <p>Help is just a click away.</p> -->
                        <a class="btn" href="#">CHAT</a>
                    </div>
                    <div class="text side video">
                        <h5>FINANCIAL VIDEOS</h5>
                        <a class="btn" href="#"><img src="assets/images/video.png" alt="video" /> MONEY MODULES
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="food-menu yellow life-style">
            <div class="row">
                <div class="col-md-12">
                    <div class="text">
                        <h4>Cars</h4>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 mb-5">
                    <div class="text ">
                        <h5>New 2021 Ford F-150 <br> Lauriat Pickup </h5>
                        <div class="price mt-2 mb-2">
                            <p>$38,096 </p>
                        </div>
                        <p class="m-0"><b>Monthly loan payment:</b> $848</p>
                        <p><b>Insurance, gas & maintenance: </b> $239 <br> (no down payment) </p>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="text blue">
                                    <p><b>TOTAL MONTHLY <br>
                                    COST:</b> $1,087</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <div class="text">
                        <h5>New 2021 Toyota Prius </h5>
                        <div class="price mt-2 mb-2">
                            <p>$26,442 </p>
                        </div>
                        <p class="m-0"><b>Monthly loan payment:</b> $439</p>
                        <p><b>Insurance, gas & maintenance: </b>$175 <br> (no down payment) </p>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="text blue">
                                    <p><b>TOTAL MONTHLY <br>
                                    COST:</b> $641</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 mb-5">
                    <div class="text ">
                        <h5>New 2021 Honda Civic LX </h5>
                        <div class="price mt-2 mb-2">
                            <p>$20,401 </p>
                        </div>
                        <p class="m-0"><b>Monthly lease payment:</b> $235 <br> ($2040 down payment)</p>
                        <p><b>Insurance, gas & maintenance: </b> $200 <br> (no down payment) </p>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="text blue">
                                    <p><b>TOTAL MONTHLY <br>
                                    COST:</b> $435</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <div class="text">
                        <h5>Used 2018 Jeep <br> Wrangler Sport </h5>
                        <div class="price mt-2 mb-2">
                            <p>$28,000 </p>
                        </div>
                        <p class="m-0"><b>Monthly loan payment:</b> $350</p>
                        <p><b>Insurance, gas & maintenance:  </b>$214</p>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="text blue">
                                    <p><b>TOTAL MONTHLY <br>
                                    COST:</b>$514</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-5">
                    <div class="text ">
                        <h5>Used 2016 Ford Escape <br> SUV SE </h5>
                        <div class="price mt-2 mb-2">
                            <p>$15,500 </p>
                        </div>
                        <p class="m-0"><b>Monthly loan payment</b> $225</p>
                        <p><b>Insurance, gas & maintenance: </b>$210</p>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="text blue">
                                    <p><b>TOTAL MONTHLY <br>
                                    COST:</b> $505</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <div class="text">
                        <h5>Used 2014 Hyundai <br> Sonata GLS </h5>
                        <div class="price mt-2 mb-2">
                            <p>$9,999 </p>
                        </div>
                        <p class="m-0"><b>Monthly loan payment:</b> $195</p>
                        <p><b>Insurance, gas & maintenance: </b>$188</p>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="text blue">
                                    <p><b>TOTAL MONTHLY <br>
                                    COST:</b> $383</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="food-menu yellow gray life-style">
            <div class="row">
                <div class="col-md-12">
                    <div class="text blue">
                        <h4>Other Transportation Options</h4>
                        <p class="mb-4">If you live in the city or don’t think you can afford a vehicle, choose one of these options to get around. All costs are monthly.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6 mb-5">
                            <div class="text text-center">
                                <h5>City Public <br> Transportation</h5>
                                <div class="price mt-2 mb-2">
                                    <p>$140 </p>
                                </div>

                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <div class="text text-center">
                                <h5>Suburban Public <br> Transportation </h5>
                                <div class="price mt-2 mb-2">
                                    <p>$110 </p>
                                </div>

                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6 mb-5 mb-md-0">
                            <div class="text text-center">
                                <h5>Bicycle </h5>

                                <div class="price mt-2 mb-2">
                                    <p>$36 </p>
                                </div>

                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text text-center">
                                <h5>Uber/Lyft </h5>
                                <div class="price mt-2 mb-2">
                                    <p>$80 </p>
                                </div>

                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="nav-bottom">
                        <ul>
                            <li><a routerLink="/money-modules">MONEY MODULES</a></li>
                            <li><a routerLink="/help">HELP</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/credit-for-Life-logo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>