<nav class="navbar navbar-expand-xl navbar-light site-nav">
    <div class="container-fluid align-items-center">
        <a class="navbar-brand" href="index.html"> <img src="assets/images/credit-for-Life-logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav ml-auto">
                <li>
                    <a href="#">CHECKING BALANCE
                        <span>$X,XXX</span></a>
                </li>
                <li>
                    <a href="#">SAVINGS BALANCE
                        <span>$X,XXX</span></a>
                </li>
                <li>
                    <a href="#">Credit Card Balance
                        <span>$X,XXX</span></a>
                </li>
                <li class="link-bg">
                    <a href="d-profile.html" class="profile">PROFILE</a>
                </li>
                <li class="link-bg">
                    <a href="#" class="help">HELP</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="banner">
    <div class="container">
        <form class="form">
            <div class="inputGroup">
                <input id="check1" name="check" type="checkbox">
                <label for="check1">
                    <a href="charitable-giving.html">Charitable <br> Giving</a></label>
            </div>
            <div class="inputGroup">
                <input id="check2" name="check" type="checkbox">
                <label for="check2"> <a href="education-and-training.html">Education  <br>
                    & Training</a></label>
            </div>
            <div class="inputGroup">
                <input id="check3" name="check" type="checkbox">
                <label for="check3"> <a href="d-food-nutrition.html">Food & <br>
                    Nutrition  </a></label>
            </div>
            <div class="inputGroup">
                <input id="check4" name="check" type="checkbox" checked>
                <label for="check4"><a href="health-and-fitness.html">Health & <br>
                    Wellness </a></label>
            </div>
            <div class="inputGroup">
                <input id="check5" name="check" type="checkbox">
                <label for="check5"><a href="housing-furniture-and-utilities.html">Housing,  <br>
                    Furniture <br>
                    & Utilities</a></label>
            </div>
            <div class="inputGroup">
                <input id="check6" name="check" type="checkbox">
                <label for="check6"><a href="lifestyle.html">Lifestyle</a></label>
            </div>
            <div class="inputGroup">
                <input id="check7" name="check" type="checkbox">
                <label for="check7"><a href="fun-fun-fun.html">Fun! Fun! Fun!</a></label>
            </div>
            <div class="inputGroup">
                <input id="check8" name="check" type="checkbox" checked>
                <label for="check8"> <a href="part-time-Jobs.html">Part-time <br>
                    Jobs</a></label>
            </div>
            <div class="inputGroup">
                <input id="check9" name="check" type="checkbox">
                <label for="check9">  <a href="d-planning-for-the-future.html">Planning for <br>
                    the Future</a></label>
            </div>
            <div class="inputGroup">
                <input id="check10" name="check" type="checkbox">
                <label for="check10"> <a href="transportation.html">Transportation</a></label>
            </div>
        </form>
    </div>
</section>
<section class="food-nutrition">
    <div class="container">
        <div class="food-sec">
            <div class="row">
                <div class="col-md-3">
                    <div class="box">
                        <img src="assets/images/health.png" alt="health" />
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="text">
                        <p>Health & Fitness</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="food-menu">
            <div class="row">
                <div class="col-md-9">
                    <div class="text">
                        <p>A clear understanding of your medical and dental insurance needs is paramount to a healthy lifestyle as is incorporating fitness into your daily or weekly routines. </p>
                    </div>
                </div>
                <div class="col-md-3 p-md-0">
                    <div class="text side">
                        <h5>Have a question? </h5>
                        <!-- <p>Help is just a click away.</p> -->
                        <a class="btn" href="#">CHAT</a>
                    </div>
                    <div class="text side video">
                        <h5>FINANCIAL VIDEOS</h5>
                        <a class="btn" href="#"><img src="assets/images/video.png" alt="video" /> MONEY MODULES
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="health">
            <p>Health Insurance</p>
        </div>
        <div class="food-menu yellow health-box mobile">
            <div class="row">
                <div class="col-md-9">
                    <div class="text  blue">
                        <h4>HMO</h4>
                        <p class="black">$102/month</p>
                        <a class="btn" href="#">SELECT</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text side">
                        <div class="question-sec" data-toggle="modal" data-target="#hmo-modal">
                            <i class="fas fa-question"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="food-menu yellow gray health-box mobile">
            <div class="row">
                <div class="col-md-9">
                    <div class="text blue">
                        <h4>PPO</h4>
                        <p class="network">IN-NETWORK</p>
                        <p class="black">$156/month</p>
                        <a class="btn" href="#">SELECT</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text side">
                        <div class="question-sec" data-toggle="modal" data-target="#pro-modal">
                            <i class="fas fa-question"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="food-menu yellow health-box mobile">
            <div class="row">
                <div class="col-md-9">
                    <div class="text blue">
                        <h4>Self-Employed Insurance</h4>
                        <p class="black">$225/month </p>
                        <a class="btn" href="#">SELECT</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text side">
                        <div class="question-sec" data-toggle="modal" data-target="#sei-modal">
                            <i class="fas fa-question"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="health">
            <p>Fitness Options</p>
        </div>

        <div class="food-menu yellow gray health-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="text blue">
                        <h4>Full-service Health Club</h4>
                        <p>Fitness, classes, pool, etc.: $100 annual fee, then $50/month</p>
                        <a class="btn" href="#">SELECT</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="food-menu yellow health-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="text blue">
                        <h4>Economy Health Club</h4>
                        <p>Equipment only, no pool or classes:<br>$50 annual fee, then $10/month</p>
                        <a class="btn" href="#">SELECT</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="food-menu yellow gray health-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="text blue">
                        <h4>Sports League </h4>
                        <p>$35 one time registration fee plus $50 equipment fee</p>
                        <a class="btn" href="#">SELECT</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="food-menu yellow health-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="text  blue">
                        <h4>Online Virtual Classes </h4>
                        <p>$25/month</p>
                        <a class="btn" href="#">SELECT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="nav-bottom">
                        <ul>
                            <li><a routerLink="/money-modules">MONEY MODULES</a></li>
                            <li><a routerLink="/help">HELP</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/credit-for-Life-logo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="hmo-modal">
    <div class="modal fade" id="hmo-modal" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title">HMO <span>$102/month</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text">
                        <p>This is your cost; your employer has already contributed 75% of the total cost which is $408/month.</p>

                        <p>Typically you will have lower monthly premiums and less out of pocket expenses, but also will restrict you to a specific group of health providers, or a network.</p>
                        <div class="network-text">
                            <p> <b>Preventative:</b> $0 copay </p>
                            <p> <b>Office Visits:</b> $35 copay </p>
                            <p> <b>Emergency Room:</b> $150 copay </p>
                            <p> <b>Deductible:</b> $1,000 per member, $2,000 per family </p>
                            <p> <b>HSA:</b> Not eligible </p>
                            <p> <b>Prescription Drugs:</b> <br> $20 Tier 1 (generic), $35 Tier 2, and $60 Tier 3 (no deductible) </p>
                        </div>
                        <div class="network-text">
                            <p> <b>Dental Coverage:</b> Not available </p>
                            <p> <b>outine Vision Exam:</b> Not available $102</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="pro-modal" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title">PPO <span>$156/month</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text">
                        <p>This is your cost; your employer has already contributed 75% of the total cost which is $624/month.</p>

                        <p>A PPO costs more than an HMO because you get the benefit of using any health care provider you choose, and most often a referral is not needed to see a specialist.</p>
                        <div class="network-text">
                            <h3>IN-NETWORK</h3>
                            <p> <b>Preventative:</b> $0 copay </p>
                            <p> <b>Office Visits:</b> $25 copay </p>
                            <p> <b>Emergency Room:</b> $100 copay </p>
                            <p> <b>Deductible:</b> $1,500 per member, $3,000 per family</p>
                            <p> <b>HSA: Employer contribution:</b> $750 per member, $1,500 per family</p>

                        </div>
                        <div class="network-text">
                            <h3>Out-of-Network</h3>
                            <p><b>Preventative: </b> $0 copay </p>
                            <p><b>Office Visits:</b> $25 copay</p>
                            <p><b>Emergency Room:</b> $100 copay</p>
                        </div>
                        <div class="network-text">
                            <h3>In-and Out-of-Network</h3>
                            <p><b>PRESCRIPTION DRUGS: </b> </p>
                            <p><b>$20 tier 1 (generic),</b> $35 tier 2, and $60 tier 3 (no deductible) $156</p>
                        </div>
                        <div class="network-text">
                            <p><b>Dental Coverage: </b>Two routine exams and cleanings per calendar year</p>
                            <p><b>Routine Vision Exam:</b> One routine eye exam every two years</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sei-modal" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title">Self-Employed Insurance <span>$225/month</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text">
                        <p>Your employer doesn’t offer health insurance OR you are self-employed and responsible for your own. Higher monthly premiums and copayments for some services.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>