.admin-table {
    padding: 50px 0px;
    .display {
        margin: 30px 0px;
        tr {
            th {
                padding: 10px;
            }
            td {
                padding: 10px;
            }
        }
    }
}