<nav class="navbar navbar-expand-xl navbar-light site-nav">
    <div class="container-fluid align-items-center">
        <a class="navbar-brand" href="index.html"> <img src="assets/images/credit-for-Life-logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav ml-auto">
                <li>
                    <a href="#">CHECKING BALANCE
                        <span>$X,XXX</span></a>
                </li>
                <li>
                    <a href="#">SAVINGS BALANCE
                        <span>$X,XXX</span></a>
                </li>
                <li>
                    <a href="#">Credit Card Balance
                        <span>$X,XXX</span></a>
                </li>
                <li class="link-bg">
                    <a href="d-profile.html" class="profile">PROFILE</a>
                </li>
                <li class="link-bg">
                    <a href="#" class="help">HELP</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="banner">
    <div class="container">
        <form class="form">
            <div class="inputGroup">
                <input id="check1" name="check" type="checkbox">
                <label for="check1">
                 <a href="charitable-giving.html">Charitable <br> Giving</a></label>
            </div>
            <div class="inputGroup">
                <input id="check2" name="check" type="checkbox">
                <label for="check2"> <a href="education-and-training.html">Education  <br>
                    & Training</a></label>
            </div>
            <div class="inputGroup">
                <input id="check3" name="check" type="checkbox">
                <label for="check3"> <a href="d-food-nutrition.html">Food & <br>
                    Nutrition  </a></label>
            </div>
            <div class="inputGroup">
                <input id="check4" name="check" type="checkbox" checked>
                <label for="check4"><a href="health-and-fitness.html">Health & <br>
                    Wellness </a></label>
            </div>
            <div class="inputGroup">
                <input id="check5" name="check" type="checkbox">
                <label for="check5"><a href="housing-furniture-and-utilities.html">Housing,  <br>
                    Furniture <br>
                    & Utilities</a></label>
            </div>
            <div class="inputGroup">
                <input id="check6" name="check" type="checkbox">
                <label for="check6"><a href="lifestyle.html">Lifestyle</a></label>
            </div>
            <div class="inputGroup">
                <input id="check7" name="check" type="checkbox">
                <label for="check7"><a href="fun-fun-fun.html">Fun! Fun! Fun!</a></label>
            </div>
            <div class="inputGroup">
                <input id="check8" name="check" type="checkbox" checked>
                <label for="check8"> <a href="part-time-Jobs.html">Part-time <br>
                    Jobs</a></label>
            </div>
            <div class="inputGroup">
                <input id="check9" name="check" type="checkbox">
                <label for="check9">  <a href="d-planning-for-the-future.html">Planning for <br>
                    the Future</a></label>
            </div>
            <div class="inputGroup">
                <input id="check10" name="check" type="checkbox">
                <label for="check10"> <a href="transportation.html">Transportation</a></label>
            </div>
        </form>
    </div>
</section>
<section class="food-nutrition">
    <div class="container">
        <div class="food-sec">
            <div class="row">
                <div class="col-md-3">
                    <div class="box">
                        <img src="assets/images/hfu.png" alt="hfu" />
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="text">
                        <p>Housing, Furniture, & Utilities </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="food-menu">
            <div class="row">
                <div class="col-md-9">
                    <div class="text">
                        <p>Housing and all of the associated costs such as utilities and furniture can be complex. Choose an option you can afford and fits your lifestyle: furniture and utility costs are included in each plan. </p>
                    </div>
                </div>
                <div class="col-md-3 p-md-0">
                    <div class="text side">
                        <h5>Have a question? </h5>
                        <!-- <p>Help is just a click away.</p> -->
                        <a class="btn" href="#">CHAT</a>
                    </div>
                    <div class="text side video">
                        <h5>FINANCIAL VIDEOS</h5>
                        <a class="btn" href="#"><img src="assets/images/video.png" alt="video" /> MONEY MODULES
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="food-menu yellow health-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="text">
                        <h4>Purchase 1-Bedroom Condo</h4>
                        <p><b>Purchase Amount:</b> $222,500</p>
                        <p><b>Downpayment:</b> Assumes First-time Homebuyer Loan; will use all your Savings.</p>
                        <!-- <p><b>Loan Amount:</b> $222,750</p>
                        <p><b>Application Fee:</b> $200 </p> -->
                        <p><b>Monthly Payment: </b> $1,673/month </p>
                        <p><b>Other Fees:</b> $325/month <br> (includes Insurance: $33/month; Condo Fee: $167/month; Taxes: $125/month) </p>
                        <p><b>Water/Heat/Electricity: </b> $200 </p>
                        <p><b>Furniture:</b> $225</p>
                        <div class="btn-final">
                            <div class="row">
                                <div class="col-md-3"><a class="btn" href="#">SELECT</a></div>
                                <div class="col-md-3">
                                    <p><b>FINAL:  </b> $2,423.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="food-menu yellow gray health-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="text blue">
                        <h4>Rent 2-Bedroom Apartment to Share with a Roommate </h4>
                        <p><b>Rent Amount:</b> $1,500</p>
                        <p><b>Security Deposit:</b> $1,500 </p>
                        <p><b>Renter’s Insurance:</b> $15/month</p>
                        <p><b>Water/Heat/Electricity:</b> $160</p>
                        <p><b>Furniture:</b> $186</p>
                        <p><b>TOTAL:</b> $3,361 </p>
                        <p><b>YOUR COST:</b> $925.20 </p>
                        <div class="btn-final">
                            <div class="row">
                                <div class="col-md-3"><a class="btn" href="#">SELECT</a></div>
                                <div class="col-md-3">
                                    <p><b>FINAL:  </b> $925.20</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="food-menu yellow health-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="text">
                        <h4>Rent 1-Bedroom Apartment</h4>
                        <p><b>Monthly Rent:</b> $1,100 </p>
                        <p><b>Security Deposit: </b> $1,100</p>
                        <p><b>Renter’s Insurance:</b> $10/month</p>
                        <p><b>Water/Heat/Electricity:</b> $90</p>
                        <p><b>Furniture:</b> $150</p>
                        <p><b>YOUR COST:</b> $1,350</p>

                        <div class="btn-final">
                            <div class="row">
                                <div class="col-md-3"><a class="btn" href="#">SELECT</a></div>
                                <div class="col-md-3">
                                    <p><b>FINAL:  </b> $1,350.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="food-menu yellow gray health-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="text  blue">
                        <h4>Live at Home</h4>
                        <p><b>Rent to Parents:</b> $500</p>

                        <div class="btn-final">
                            <div class="row">
                                <div class="col-md-3"><a class="btn" href="#">SELECT</a></div>
                                <div class="col-md-3">
                                    <p><b>FINAL:  </b> $500.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="food-menu yellow health-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="text  blue">
                        <h4>Military</h4>
                        <p>Housing for enlisted military assigned to permanent duty within the 50 U.S. states is typically provided in two ways: You may choose to live on base at no charge or receive a Basic Allowance for Housing (BAH), which is a stipend
                            you receive to rent or buy near your current duty station. Your stipend is based on rank, number of dependents and permanent duty station zip code. </p>

                        <div class="btn-final">
                            <div class="row">
                                <div class="col-md-3"><a class="btn" href="#">SELECT</a></div>
                                <div class="col-md-3">
                                    <p><b>FINAL:  </b> $0</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

<footer class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="nav-bottom">
                        <ul>
                            <li><a routerLink="/money-modules">MONEY MODULES</a></li>
                            <li><a routerLink="/help">HELP</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/credit-for-Life-logo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>