<nav class="navbar navbar-expand-xl navbar-light site-nav home">
    <div class="container-fluid align-items-center pr-3">
        <!-- <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt=""></a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav ml-auto">

                <li class="link-bg login">
                    <a href="login.html">LOGIN</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="banner home">
    <div class="container">
        <div class="logo">
            <a href="#">
                <img src="assets/images/creditforlife-logo.png" alt="logo" />
            </a>
        </div>
    </div>
</section>
<section class="video-sec">
    <div class="container">
        <div class="video-cover">
            <!-- <img src="assets/images/education.png" alt="education" />
            <a target="_blank" href="#" class="play-video">
                <img loading="lazy" src="assets/images/play.png" alt="play">
            </a> -->
            <video width="100%" height="520" controls>
                <source src="assets/images/credit_for_life_promo_1080p.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
              </video>
        </div>
        <div class="text">
            <p><b>Intro copy to come.</b> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                suscipit lobortis nisl ut aliquip ex ea commodo consequat. tatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
        </div>
    </div>
</section>
<section class="register-sec">
    <div class="container">
        <div class="register">
            <div class="text">
                <h3>Register</h3>
                <p> Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. tatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                <div class="register-form">
                    <form>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="password1">Password:</label>
                            <input type="password" class="form-control" id="Password1">
                        </div>
                        <div class="form-group">
                            <label for="passconfirm">Password (confirm):</label>
                            <input type="password" class="form-control" id="passconfirm">
                        </div>
                        <div class="register-btn">
                            <button type="submit" class="btn btn-primary">REGISTER</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-sec">
    <div class="container">
        <div class="contact">
            <div class="text">
                <h3>Contact us!</h3>
                <p> Got a question? We’d love to hear from you. Send us a message and we’ll respond as soon as possible</p>
                <div class="contact-form">
                    <form>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="message">Message:</label>
                            <textarea class="form-control" id="message" rows="8"></textarea>
                        </div>
                        <div class="contact-btn">
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sponsors">
    <div class="heading">
        <div class="container">
            <h3>SPONSORS</h3>
        </div>
    </div>
    <div class="container">
        <div class="sponsors-list">
            <ul>
                <li>
                    <a href="#">
                        <div class="logo">
                            <img src="assets/images/spons-logo1.jpg" alt="logo" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="logo">
                            <img src="assets/images/spons-logo2.jpg" alt="logo" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="logo">
                            <img src="assets/images/spons-logo3.jpg" alt="logo" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="logo">
                            <img src="assets/images/spons-logo4.jpg" alt="logo" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="logo">
                            <img src="assets/images/spons-logo5.jpg" alt="logo" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="logo">
                            <img src="assets/images/spons-logo6.jpg" alt="logo" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="logo">
                            <img src="assets/images/spons-logo7.jpg" alt="logo" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="logo">
                            <img src="assets/images/spons-logo8.jpg" alt="logo" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="logo">
                            <img src="assets/images/spons-logo9.jpg" alt="logo" />
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="nav-bottom">
                        <ul>
                            <li><a routerLink="/money-modules">MONEY MODULES</a></li>
                            <li><a routerLink="/help">HELP</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/credit-for-Life-logo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="privacy">
        We value the privacy of individuals who visit our website. Personal
        information including name and email address, etc. is provided on a voluntary
        basis only. We use this information to respond to inquiries and requests for
        further information. We do not share or sell the personal information you
        provide us to a third party at any time.
      </div>
</footer>