
<section class="financial-lit">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="text">
                    <h4>Welcome to</h4>
                    <div class="logo-sec">
                        <img src="assets/images/logo-blue.png" alt="logo" />
                    </div>

                </div>
            </div>
            <div class="col-md-7"></div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <div class="text">
                    <p>You are a 25-year-old adult with <br> a career, a salary, a savings <br> account and a credit score. How <br> well can you manage your budget <br> and live the life you want to live?</p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="text">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <div class="text">

                    <div class="steps-main">
                        <div class="steps">
                            <div class="count">
                                <p>1</p>
                            </div>
                            <p><b>Check out your profile.</b> Here, you will be able to track your finances and see the impact your decisions have on your monthly budget.</p>
                        </div>
                        <div class="steps">
                            <div class="count">
                                <p>2</p>
                            </div>
                            <p><b>Visit and complete each checkpoint </b> along your financial journey! Purchase everything you will need to live as a 25-year-old adult…but stay within your monthly budget.</p>
                        </div>
                        <div class="steps">
                            <div class="count">
                                <p>3</p>
                            </div>
                            <p><b>Need some help?</b> Helpful <br> resources and volunteers <br> are just a click away.</p>
                        </div>

                        <div class="steps">
                            <div class="count">
                                <p>4</p>
                            </div>
                            <p>When you finish all of the checkpoints, you will be sent to <b>My Budget Review</b> and chat with a Budget Counselor to see how you did.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="education-modules">
                    <div class="education-img">
                        <img src="assets/images/education_modules.png" alt="education_modules" />
                    </div>
                    <div class="text">
                        <p>Interested in learning more about improving your financial literacy? Browse our library of educational videos!</p>
                        <div class="more-btn">
                            <a href="#">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
