<nav class="navbar navbar-expand-xl navbar-light site-nav">
    <div class="container-fluid align-items-center">
        <a class="navbar-brand" href="index.html"> <img src="assets/images/credit-for-Life-logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav ml-auto">

                <li class="link-bg">
                    <a href="#" class="back">BACK</a>
                </li>
                <li class="link-bg">
                    <a href="d-profile.html" class="profile">PROFILE</a>
                </li>
                <li class="link-bg">
                    <a href="#" class="help">HELP</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="review-sec">
    <div class="container">
        <div class="text">
            <h3>Budget Review</h3>
            <p><b>Congratulations!</b> You’ve completed all the checkpoints. Now let’s talk about your choices.</p>
        </div>
        <div class="message-sec left">
            <div class="massage">
                <p>Hi! </p>
                <p>I’ve completed all the check points, can we review <br> my budget worksheet?</p>
            </div>

        </div>
        <div class="message-sec right">
            <div class="massage">
                <p>Hi Chris, </p>
                <p> Yes! Let’s review your budget sheet together.</p>
            </div>
        </div>
        <div class="message-bar">
            <p>MESSAGE</p>
            <div class="icon"><img src="assets/images/message-arrow.png" alt="arrow" /></div>
        </div>
    </div>
</section>


<section class="profile-banner review">
    <div class="container">
        <div class="profile">
            <div class="row">
                <div class="col-md-3">
                    <div class="user-image">
                        <img src="assets/images/chris.png" alt="chris-smith" />
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="text">
                        <h1>Chris Smith</h1>
                        <p><b>School:</b> Student School</p>
                        <p><b>Occupation:</b> Student Occupation</p>
                        <p><b>Credit Score:</b> 000</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="loans-summary">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="my-salary">
                    <div class="heading">
                        <h4>MY SALARY</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="annual-salary">
                                <div class="text">
                                    <h3>ANNUAL SALARY</h3>
                                    <p>$54,000</p>
                                </div>
                                <div class="text mt-4">
                                    <h3>MONTHLY TAKE <br> HOME PAY</h3>
                                    <p>$3,298</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="gross-salary">
                                <div class="text">
                                    <h3>GROSS MONTHLY SALARY: <span>$X,XXX</span></h3>
                                </div>
                                <div class="text mt-4">
                                    <h3>WITHHOLDINGS</h3>
                                    <h4>Federal tax: <span> $XXX</span></h4>
                                    <h4>State tax: <span> $XXX</span></h4>
                                    <h4>Medicare: <span> $XXX</span></h4>
                                    <h4>Social Security: <span> $XXX</span></h4>
                                    <h3>TOTAL TAX DEDUCTIONS: <span>$X,XXX</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="student-loans">
                    <div class="heading">
                        <h4>STUDENT LOANS</h4>
                    </div>
                    <div class="text">
                        <p>Vist the Education & Training checkpoint to learn your monthly student loan payment. </p>
                    </div>
                </div>
                <div class="student-loans mt-4">
                    <div class="heading">
                        <h4>HEALTH INSURANCE</h4>
                    </div>
                    <div class="text">
                        <p>Vist the Health & Wellness checkpoint to learn your monthly health insurance payment. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="account-steps mb-0 mb-md-4">
            <div class="row">
                <div class="col-md-4">
                    <div class="check-account">
                        <div class="heading">
                            <h4>CHECKING ACCOUNT BALANCE</h4>
                        </div>
                        <div class="text">
                            <h3>REMAINING BALANCE</h3>
                            <h4>$X,XXX</h4>
                            <p>BEGINING BALANCE: <span>$X,XXX</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="check-account yellow">
                        <div class="heading">
                            <h4>SAVINGS ACCOUNT BALANCE</h4>
                        </div>
                        <div class="text">
                            <h3>REMAINING BALANCE</h3>
                            <h4>$X,XXX</h4>
                            <p>BEGINING BALANCE: <span>$X,XXX</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="check-account orange">
                        <div class="heading">
                            <h4>Credit Card Balance</h4>
                        </div>
                        <div class="text">
                            <h3>Total Balance</h3>
                            <h4>$X,XXX</h4>
                            <p>CREDIT CARD LIMIT: <span>$X,XXX</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-sec">
            <div class="heading">
                <h4>CHECKING ACCOUNT</h4>
            </div>

            <div class="table-responsive">

                <!--Table-->
                <table class="table table-striped">

                    <!--Table head-->
                    <thead>
                        <tr>
                            <th class="th-sm">TRANSACTION</th>
                            <th class="th-sm">CHECKPOINT</th>
                            <th class="th-sm">COST (-)</th>
                            <th class="th-sm">DEPOSIT (+)</th>
                        </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                        <tr>
                            <th scope="row">Plan B: Basics/Home Cooking</th>
                            <td>Food & Nutrition</td>
                            <td>$250</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <!--Table body-->

                </table>
                <!--Table-->

            </div>
        </div>



        <div class="table-sec">
            <div class="heading">
                <h4>SAVINGS ACCOUNT</h4>
            </div>

            <div class="table-responsive">

                <!--Table-->
                <table class="table table-striped">

                    <!--Table head-->
                    <thead>
                        <tr>
                            <th class="th-sm">TRANSACTION</th>
                            <th class="th-sm">CHECKPOINT</th>
                            <th class="th-sm">PAYMENT (-)</th>
                            <th class="th-sm">DEPOSITS (+)</th>
                        </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                        <tr>
                            <th scope="row" style="opacity: 0;">Plan B: Basics/Home Cooking</th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <!--Table body-->

                </table>
                <!--Table-->

            </div>
        </div>



        <div class="table-sec">
            <div class="heading">
                <h4>CREDIT CARD BALANCE</h4>
            </div>

            <div class="table-responsive">

                <!--Table-->
                <table class="table table-striped">

                    <!--Table head-->
                    <thead>
                        <tr>
                            <th class="th-sm">TRANSACTION</th>
                            <th class="th-sm">CHECKPOINT</th>
                            <th class="th-sm">CHARGE (-)</th>
                        </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                        <tr>
                            <th scope="row" style="opacity: 0;">Plan B:Basics/Home Cooking Plan/Home</th>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <!--Table body-->

                </table>
                <!--Table-->

            </div>
        </div>


    </div>
</section>
<footer class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="nav-bottom">
                        <ul>
                            <li><a routerLink="/money-modules">MONEY MODULES</a></li>
                            <li><a routerLink="/help">HELP</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/credit-for-Life-logo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>