<section class="banner coming-soon">
    <div class="container">
        <div class="heading">
            <h2>COMING THIS SPRING</h2>
        </div>
        <div class="logo">
            <a href="#">
                <img src="assets/images/creditforlife-logo.png" alt="logo" />
            </a>
        </div>
    </div>
</section>


<section class="coming_soon">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="text">
                    <h3>Credit for Life</h3>
                    <p>Eight local banks who have long supported <br> financial literacy in Massachusetts schools <br> have formed a partnership to bring a <br> popular event virtually to students this <br> spring.</p>
                    <p>The Credit for Life Fair, a half day event <br> where high school students assume the <br> roles of 25-year-old adults and spend their <br> ‘paychecks’ on everything they will need <br> to live, has been a popular event in many
                        <br> Massachusetts public schools for more than <br> a decade. </p>
                    <p>We will be launching Spring 2021. Come back <br> soon!</p>
                </div>

            </div>
            <div class="col-md-5">
            </div>
        </div>
    </div>
</section>
<section class="boy-books">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="boy-book">
                    <img src="assets/images/books_boy_reading.svg" alt="boybooks" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="social-link">
                    <ul>
                        <li>
                            <a href="#"><img src="assets/images/instagram.png" alt="instagram" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/images/twitter.png" alt="twitter" /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sponsors">
    <div class="heading">
        <div class="container">
            <h3>MEET OUR FOUNDING PARTNERS</h3>
        </div>
    </div>
    <div class="container">
        <div class="sponsors-list">
            <ul>
                <li>
                    <a href="#">
                        <div class="logo">
                            <img src="assets/images/spons-logo1.jpg" alt="logo" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="logo">
                            <img src="assets/images/spons-logo9.jpg" alt="logo" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="logo">
                            <img src="assets/images/spons-logo2.jpg" alt="logo" />
                        </div>
                    </a>
                </li>


                <li>
                    <a href="#">
                        <div class="logo">
                            <img src="assets/images/spons-logo4.jpg" alt="logo" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="logo">
                            <img src="assets/images/spons-logo5.jpg" alt="logo" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="logo">
                            <img src="assets/images/spons-logo6.jpg" alt="logo" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="logo">
                            <img src="assets/images/spons-logo7.jpg" alt="logo" />
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <div class="logo">
                            <img src="assets/images/thesavings-bank.png" alt="logo" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="logo">
                            <img src="assets/images/westfield_logo2.png" alt="logo" />
                        </div>
                    </a>
                </li>
            </ul>
            <div class="contact_btn">
                <a href="#">CONTACT US </a>
            </div>
        </div>
    </div>
</section>
<!--   <footer class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="nav-bottom">
                        <ul>
                            <li><a routerLink="/money-modules">MONEY MODULES</a></li>
                            <li><a routerLink="/help">HELP</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/credit-for-Life-logo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer> -->