<nav class="navbar navbar-expand-xl navbar-light site-nav">
    <div class="container-fluid align-items-center">
        <a class="navbar-brand" href="index.html"> <img src="assets/images/credit-for-Life-logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav ml-auto">
                <li>
                    <a href="#">CHECKING BALANCE
                        <span>$X,XXX</span></a>
                </li>
                <li>
                    <a href="#">SAVINGS BALANCE
                        <span>$X,XXX</span></a>
                </li>
                <li>
                    <a href="#">Credit Card Balance
                        <span>$X,XXX</span></a>
                </li>
                <li class="link-bg">
                    <a href="d-profile.html" class="profile">PROFILE</a>
                </li>
                <li class="link-bg">
                    <a href="#" class="help">HELP</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="banner">
    <div class="container">
        <form class="form">
            <div class="inputGroup">
                <input id="check1" name="check" type="checkbox">
                <label for="check1">
                 <a href="charitable-giving.html">Charitable <br> Giving</a></label>
            </div>
            <div class="inputGroup">
                <input id="check2" name="check" type="checkbox">
                <label for="check2"> <a href="education-and-training.html">Education  <br>
                    & Training</a></label>
            </div>
            <div class="inputGroup">
                <input id="check3" name="check" type="checkbox">
                <label for="check3"> <a href="d-food-nutrition.html">Food & <br>
                    Nutrition  </a></label>
            </div>
            <div class="inputGroup">
                <input id="check4" name="check" type="checkbox" checked>
                <label for="check4"><a href="health-and-fitness.html">Health & <br>
                    Wellness </a></label>
            </div>
            <div class="inputGroup">
                <input id="check5" name="check" type="checkbox">
                <label for="check5"><a href="housing-furniture-and-utilities.html">Housing,  <br>
                    Furniture <br>
                    & Utilities</a></label>
            </div>
            <div class="inputGroup">
                <input id="check6" name="check" type="checkbox">
                <label for="check6"><a href="lifestyle.html">Lifestyle</a></label>
            </div>
            <div class="inputGroup">
                <input id="check7" name="check" type="checkbox">
                <label for="check7"><a href="fun-fun-fun.html">Fun! Fun! Fun!</a></label>
            </div>
            <div class="inputGroup">
                <input id="check8" name="check" type="checkbox" checked>
                <label for="check8"> <a href="part-time-Jobs.html">Part-time <br>
                    Jobs</a></label>
            </div>
            <div class="inputGroup">
                <input id="check9" name="check" type="checkbox">
                <label for="check9">  <a href="d-planning-for-the-future.html">Planning for <br>
                    the Future</a></label>
            </div>
            <div class="inputGroup">
                <input id="check10" name="check" type="checkbox">
                <label for="check10"> <a href="transportation.html">Transportation</a></label>
            </div>
        </form>
    </div>
</section>
<section class="food-nutrition">
    <div class="container">
        <div class="food-sec">
            <div class="row">
                <div class="col-md-3">
                    <div class="box">
                        <img src="assets/images/food.png" alt="food" />
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="text">
                        <p>Food & Nutrition</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="food-menu">
            <div class="row">
                <div class="col-md-9">
                    <div class="text">
                        <p>To be your best, you must maintain a balanced, healthy, and affordable lifestyle. <b>Choose your food plan</b> based on that lifestyle and what you can realistically afford. </p>
                    </div>
                </div>
                <div class="col-md-3 p-md-0">
                    <div class="text side">
                        <h5>Have a question? </h5>
                        <!-- <p>Help is just a click away.</p> -->
                        <a class="btn" href="#">CHAT</a>
                    </div>
                    <div class="text side video">
                        <h5>FINANCIAL VIDEOS</h5>
                        <a class="btn" href="#"><img src="assets/images/video.png" alt="video" /> MONEY MODULES
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="food-menu yellow">
            <div class="row">
                <div class="col-md-9">
                    <div class="text">
                        <h4>Plan A: Healthy/Vegetarian</h4>
                        <p>This typical menu includes protein, fresh fruits, grains, and vegetables. The plan includes no meat or national brands and spends some time planning, but does eat out occasionally. </p>
                    </div>
                </div>
                <div class="col-md-3 p-md-0">
                    <div class="text side">
                        <div class="price">
                            <p>$200</p>
                        </div>
                        <a class="btn" href="#">SELECT</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="food-menu yellow gray">
            <div class="row">
                <div class="col-md-9">
                    <div class="text">
                        <h4>Plan B: Basics/Home Cooking</h4>
                        <p>This average menu includes eggs, hamburger, chicken, pasta, peanut butter, veggies, fruits, salads, cold cuts, rice, soups, etc. The lifestyle portion includes eating at home and bringing lunch to work. This plan offers no
                            room for splurges, sticks to shopping lists, shops economically and makes coffee at home or work. </p>
                    </div>
                </div>
                <div class="col-md-3 p-md-0">
                    <div class="text side">
                        <div class="price">
                            <p>$250</p>
                        </div>
                        <a class="btn" href="#">SELECT</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="food-menu yellow">
            <div class="row">
                <div class="col-md-9">
                    <div class="text blue">
                        <h4>Plan C: Organic</h4>
                        <p class="blue">This plan aligns exactly with the types of foods listed in plan A, but utilizes more costly organic produce plus beef, chicken, fish, fresh fruits, vegetables, and quinoa. For convenience, this lifestyle offers the preference
                            of eating at health food cafes, juiceries, etc. Benefits to this choice include less time planning, purchasing organic national brands, and eating/ordering out occasionally.</p>
                    </div>
                </div>
                <div class="col-md-3 p-md-0">
                    <div class="text side">
                        <div class="price">
                            <p>$340</p>
                        </div>
                        <a class="btn" href="#">SELECT</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="food-menu yellow gray">
            <div class="row">
                <div class="col-md-9">
                    <div class="text">
                        <h4>Plan D: Splurge/Eat Out</h4>
                        <p>This typical menu is similar to Plan B and C, but includes more specialty, expensive meat and seafood such as prime rib and lobster for many meals. It also includes specialty prepared foods and frequent options for eating out.
                            This person buys national brands, spends no time planning, orders out when desired, and buys specialty coffee daily at coffee shops. </p>
                    </div>
                </div>
                <div class="col-md-3 p-md-0">
                    <div class="text side">
                        <div class="price">
                            <p>$550</p>
                        </div>
                        <a class="btn" href="#">SELECT</a>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>

<footer class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="nav-bottom">
                        <ul>
                            <li><a routerLink="/money-modules">MONEY MODULES</a></li>
                            <li><a routerLink="/help">HELP</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/credit-for-Life-logo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

<div class="correct-modal">
    <div class="modal fade show" id="truefalse" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true" style="display: block;padding-right:17px; ">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title"><img src="assets/images/check-mark.png" alt="check" /> CORRECT!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="text">
                        <div class="truefalse-circle">
                            <div class="circle">
                                <p class="true">T</p>
                                <p class="false">F</p>
                            </div>
                        </div>
                        <div class="truefalse-text">
                            <p>Paying attention to sales and store brands is a great way to eat healthy on a tight budget
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>