<nav class="navbar navbar-expand-xl navbar-light site-nav">
    <div class="container-fluid align-items-center">
        <a class="navbar-brand" href="index.html"> <img src="assets/images/credit-for-Life-logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav ml-auto">
                <li>
                    <a href="#">CHECKING BALANCE
                        <span>$X,XXX</span></a>
                </li>
                <li>
                    <a href="#">SAVINGS BALANCE
                        <span>$X,XXX</span></a>
                </li>
                <li>
                    <a href="#">Credit Card Balance
                        <span>$X,XXX</span></a>
                </li>
                <li class="link-bg">
                    <a href="d-profile.html" class="profile">PROFILE</a>
                </li>
                <li class="link-bg">
                    <a routerLink="help" class="help">HELP</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="banner">
    <div class="container">
        <form class="form">
            <div class="inputGroup">
                <input id="check1" name="check" type="checkbox">
                <label for="check1">
                <a href="charitable-giving.html">Charitable <br> Giving</a></label>
            </div>
            <div class="inputGroup">
                <input id="check2" name="check" type="checkbox">
                <label for="check2"> <a href="education-and-training.html">Education  <br>
                    & Training</a></label>
            </div>
            <div class="inputGroup">
                <input id="check3" name="check" type="checkbox">
                <label for="check3"> <a href="d-food-nutrition.html">Food & <br>
                    Nutrition  </a></label>
            </div>
            <div class="inputGroup">
                <input id="check4" name="check" type="checkbox" checked>
                <label for="check4"><a href="health-and-fitness.html">Health & <br>
                    Wellness </a></label>
            </div>
            <div class="inputGroup">
                <input id="check5" name="check" type="checkbox">
                <label for="check5"><a href="housing-furniture-and-utilities.html">Housing,  <br>
                    Furniture <br>
                    & Utilities</a></label>
            </div>
            <div class="inputGroup">
                <input id="check6" name="check" type="checkbox">
                <label for="check6"><a href="lifestyle.html">Lifestyle</a></label>
            </div>
            <div class="inputGroup">
                <input id="check7" name="check" type="checkbox">
                <label for="check7"><a href="fun-fun-fun.html">Fun! Fun! Fun!</a></label>
            </div>
            <div class="inputGroup">
                <input id="check8" name="check" type="checkbox" checked>
                <label for="check8"> <a href="part-time-Jobs.html">Part-time <br>
                    Jobs</a></label>
            </div>
            <div class="inputGroup">
                <input id="check9" name="check" type="checkbox">
                <label for="check9">  <a href="d-planning-for-the-future.html">Planning for <br>
                    the Future</a></label>
            </div>
            <div class="inputGroup">
                <input id="check10" name="check" type="checkbox">
                <label for="check10"> <a href="transportation.html">Transportation</a></label>
            </div>
        </form>
    </div>
</section>
<section class="avatars">
    <div class="container">
        <ul>
            <li>
                <a href="#">
                    <img src="assets/images/avatars.svg" alt="avatar" />
                </a>
            </li>
            <!-- <li>
                <a href="#">
                    <img src="assets/images/avatar2.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar3.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar4.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar5.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar6.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar7.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar8.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar9.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar10.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar11.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar12.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar13.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar14.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar15.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar16.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar17.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar18.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar19.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar20.png" alt="avatar" />
                </a>
            </li>

            <li>
                <a href="#">
                    <img src="assets/images/avatar21.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar22.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar23.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar24.png" alt="avatar" />
                </a>
            </li>

            <li>
                <a href="#">
                    <img src="assets/images/avatar25.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar26.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar27.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar28.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar29.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar30.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar31.png" alt="avatar" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/avatar32.png" alt="avatar" />
                </a>
            </li> -->
        </ul>
    </div>
</section>

<footer class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="nav-bottom">
                        <ul>
                            <li><a routerLink="/money-modules">MONEY MODULES</a></li>
                            <li><a routerLink="/help">HELP</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/credit-for-Life-logo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>