<nav class="navbar navbar-expand-xl navbar-light site-nav">
    <div class="container-fluid align-items-center">
        <a class="navbar-brand" href="index.html"> <img src="assets/images/credit-for-Life-logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav ml-auto">

                <li class="link-bg">
                    <a (click)="goBack()" class="back">BACK</a>
                </li>
                <li class="link-bg">
                    <a href="d-profile.html" class="profile">PROFILE</a>
                </li>
                <li class="link-bg">
                    <a href="#" class="help">HELP</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="money-modules-sec">
    <div class="container">
        <!-- <div class="text">
            <div class="row">
                <div class="col-md-9">
                    <h3>Money Modules</h3>
                    <p><b>want to know more? </b> You’ve come to the right place. Scroll through our video tutorials or
                        search to find what you’re looking for.</p>
                </div>
                <div class="col-md-3">
                    <div class="search">
                        <div class="form-group">
                            <div class="icon-addon addon-lg">
                                <input id="search" type="text" placeholder="Search"
                                    class="form-control pac-target-input" autocomplete="off">
                                <label for="email" id="tool" rel="tooltip"><i class="fas fa-search"></i></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="money-video">
            <div class="row mob">
                <div class="col-md-8">
                    <div class="video-cover">
                        <!-- <img src="assets/images/lllustration.png" alt="video" />
                        <div class="play-video">
                            <img src="assets/images/play.png" alt="play-video" />
                        </div> -->
                        <iframe src="https://player.vimeo.com/video/516724360?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Money Modules  Paychecks"></iframe>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="video-text">
                        <h3>PAYCHECKS & TAXES</h3>
                        <!-- <p>Objectives:</p> -->
                        <ul>
                            <li>What is the difference between gross pay and my net pay?</li>
                            <li>How do deductions affect my taxable income?</li>
                            <li>How does my type of work affect how I pay taxes?</li>
                            <li>What are taxes used for?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="money-video">
            <div class="row">
                <div class="col-md-4">
                    <div class="video-text">
                        <h3>BUDGETING</h3>
                        <!-- <p>Objectives:</p> -->
                        <ul>
                            <li>What are my needs and wants?</li>
                            <li>What is a budget?</li>
                            <li>What are checking and savings accounts?</li>
                            <li>What are some tools and strategies to help me be more financially healthy?</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="video-cover yellow">
                        <!-- <img src="assets/images/budget.png" alt="video" />
                        <div class="play-video">
                            <img src="assets/images/play.png" alt="play-video" />
                        </div> -->
                        <iframe src="https://player.vimeo.com/video/516735053?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Money Modules  Budgeting"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="money-video">
            <div class="row mob">
                <div class="col-md-8">
                    <div class="video-cover frozen">
                        <!-- <img src="assets/images/credit-scores.png" alt="video" />
                        <div class="play-video">
                            <img src="assets/images/play.png" alt="play-video" />
                        </div> -->
                        <iframe src="https://player.vimeo.com/video/517199343?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Money Modules  Credit Scores"></iframe>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="video-text">
                        <h3>CREDIT SCORES</h3>
                        <!-- <p>Objectives: </p> -->
                        <ul>
                            <li>What is a credit score? </li>
                            <li>What factors influence a credit score? </li>
                            <li>How can my credit score be used?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="money-video">
            <div class="row">
                <div class="col-md-4">
                    <div class="video-text">
                        <h3>LOANS</h3>
                        <!-- <p>Objectives:</p> -->
                        <ul>
                            <li>What is the relationship between the principal, interest and term of a loan? </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="video-cover light-frozen">
                        <!-- <img src="assets/images/loans.png" alt="video" />
                        <div class="play-video">
                            <img src="assets/images/play.png" alt="play-video" />
                        </div> -->
                        <iframe src="https://player.vimeo.com/video/517276251?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Money Modules  Loans"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="money-video">
            <div class="row mob">
                <div class="col-md-8">
                    <div class="video-cover yellow pt-0 pb-0">
                        <!-- <img src="assets/images/student-loans.png" alt="video" />
                        <div class="play-video">
                            <img src="assets/images/play.png" alt="play-video" />
                        </div> -->
                        <iframe src="https://player.vimeo.com/video/517279795?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Money Modules  Student Loans"></iframe>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="video-text">
                        <h3>STUDENT LOANS</h3>
                        <!-- <p>Objectives:</p> -->
                        <ul>
                            <li>How can I afford higher education?</li>
                            <li>What is the difference between subsidized and unsubsidized loans?</li>
                            <li>What about government versus private student loans? </li>
                            <li>What will I pay when I graduate? </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="money-video">
            <div class="row">
                <div class="col-md-4">
                    <div class="video-text">
                        <h3>CREDIT CARDS</h3>
                        <!-- <p>Objectives:</p> -->
                        <ul>
                            <li>How do credit cards work?</li>
                            <li>What are responsible ways to use a credit card? </li>
                            <li>What is a credit history and how do I build one? </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="video-cover">
                        <!-- <img src="assets/images/credit-cards.png" alt="video" />
                        <div class="play-video">
                            <img src="assets/images/play.png" alt="play-video" />
                        </div> -->
                        <iframe src="https://player.vimeo.com/video/516769609?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Money Modules  Credit Cards"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="money-video">
            <div class="row mob">
                <div class="col-md-8">
                    <div class="video-cover light-yellow">
                        <iframe src="https://player.vimeo.com/video/517268599?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Money Modules  Fraud"></iframe>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="video-text">
                        <h3>FRAUD & RISK</h3>
                        <!-- <p>Objectives:</p> -->
                        <ul>
                            <li>What is fraud?</li>
                            <li>What are common scams and how do I protect myself? </li>
                            <li>Who is responsible for fixing fraud and how? </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="money-video">
            <div class="row">
                <div class="col-md-4">
                    <div class="video-text">
                        <h3>INSURANCE </h3>
                        <!-- <p>Objectives:</p> -->
                        <ul>
                            <li>What is insurance, a premium and a deductible?</li>
                            <li>What insurance do I need and when? </li>
                            <li>Do I really need insurance? </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="video-cover light-frozen">
                        <!-- <img src="assets/images/insurance.png" alt="video" />
                        <div class="play-video">
                            <img src="assets/images/play.png" alt="play-video" />
                        </div> -->
                        <iframe src="https://player.vimeo.com/video/517272583?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Money Modules  Insurance"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="money-video">
            <div class="row mob">
                <div class="col-md-8">
                    <div class="video-cover frozen">
                        <!-- <img src="assets/images/compound-interest.png" alt="video" />
                        <div class="play-video">
                            <img src="assets/images/play.png" alt="play-video" />
                        </div> -->
                        <iframe src="https://player.vimeo.com/video/516763609?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Money Modules  Compound Interest and Investing"></iframe>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="video-text">
                        <h3>COMPOUND INTEREST</h3>
                        <!-- <p>Objectives:</p> -->
                        <ul>
                            <li>What is compound interest?</li>
                            <li>What are ways that money can make money?</li>
                            <li>What is the difference between saving and investing?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="nav-bottom">
                        <ul>
                            <li><a routerLink="/money-modules">MONEY MODULES</a></li>
                            <li><a routerLink="/help">HELP</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/credit-for-Life-logo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="privacy">
        We value the privacy of individuals who visit our website. Personal
        information including name and email address, etc. is provided on a voluntary
        basis only. We use this information to respond to inquiries and requests for
        further information. We do not share or sell the personal information you
        provide us to a third party at any time.
      </div>
</footer>