<nav class="navbar navbar-expand-xl navbar-light site-nav">
    <div class="container-fluid align-items-center">
        <a class="navbar-brand" href="index.html"> <img src="assets/images/credit-for-Life-logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav ml-auto">
                <li>
                    <a href="#">CHECKING BALANCE
                        <span>$X,XXX</span></a>
                </li>
                <li>
                    <a href="#">SAVINGS BALANCE
                        <span>$X,XXX</span></a>
                </li>
                <li>
                    <a href="#">Credit Card Balance
                        <span>$X,XXX</span></a>
                </li>
                <li class="link-bg">
                    <a href="d-profile.html" class="profile">PROFILE</a>
                </li>
                <li class="link-bg">
                    <a href="#" class="help">HELP</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="banner">
    <div class="container">
        <form class="form">
            <div class="inputGroup">
                <input id="check1" name="check" type="checkbox">
                <label for="check1">
                <a href="charitable-giving.html">Charitable <br> Giving</a></label>
            </div>
            <div class="inputGroup">
                <input id="check2" name="check" type="checkbox">
                <label for="check2"> <a href="education-and-training.html">Education  <br>
                    & Training</a></label>
            </div>
            <div class="inputGroup">
                <input id="check3" name="check" type="checkbox">
                <label for="check3"> <a href="d-food-nutrition.html">Food & <br>
                    Nutrition  </a></label>
            </div>
            <div class="inputGroup">
                <input id="check4" name="check" type="checkbox" checked>
                <label for="check4"><a href="health-and-fitness.html">Health & <br>
                    Wellness </a></label>
            </div>
            <div class="inputGroup">
                <input id="check5" name="check" type="checkbox">
                <label for="check5"><a href="housing-furniture-and-utilities.html">Housing,  <br>
                    Furniture <br>
                    & Utilities</a></label>
            </div>
            <div class="inputGroup">
                <input id="check6" name="check" type="checkbox">
                <label for="check6"><a href="lifestyle.html">Lifestyle</a></label>
            </div>
            <div class="inputGroup">
                <input id="check7" name="check" type="checkbox">
                <label for="check7"><a href="fun-fun-fun.html">Fun! Fun! Fun!</a></label>
            </div>
            <div class="inputGroup">
                <input id="check8" name="check" type="checkbox" checked>
                <label for="check8"> <a href="part-time-Jobs.html">Part-time <br>
                    Jobs</a></label>
            </div>
            <div class="inputGroup">
                <input id="check9" name="check" type="checkbox">
                <label for="check9">  <a href="d-planning-for-the-future.html">Planning for <br>
                    the Future</a></label>
            </div>
            <div class="inputGroup">
                <input id="check10" name="check" type="checkbox">
                <label for="check10"> <a href="transportation.html">Transportation</a></label>
            </div>
        </form>
    </div>
</section>
<section class="food-nutrition">
    <div class="container">
        <div class="food-sec">
            <div class="row">
                <div class="col-md-3">
                    <div class="box">
                        <img src="assets/images/life-style.png" alt="life-style" />
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="text">
                        <p>Lifestyle </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="food-menu">
            <div class="row">
                <div class="col-md-9">
                    <div class="text">
                        <p>Everyday personal expenses such as clothing (both for work and personal), haircuts, salon services, cellphone plans, etc. add up quickly. Please note that you must purchase Dress-up Attire for more formal occasions. </p>
                    </div>
                </div>
                <div class="col-md-3 p-md-0">
                    <div class="text side">
                        <h5>Have a question? </h5>
                        <!-- <p>Help is just a click away.</p> -->
                        <a class="btn" href="#">CHAT</a>
                    </div>
                    <div class="text side video">
                        <h5>FINANCIAL VIDEOS</h5>
                        <a class="btn" href="#"><img src="assets/images/video.png" alt="video" /> MONEY MODULES
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="food-menu yellow life-style">
            <div class="row">
                <div class="col-md-12">
                    <div class="text">
                        <h4 class="m-0">Clothing</h4>
                        <p>All clothing options include costs for outerwear, active/casualwear, footwear and other essentials.</p>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 mb-5">
                    <div class="text blue text-center">
                        <p class="height"><b>Business Professional: </b> for jobs that require professional attire such as suits, ties, skirts, dresses, dress shirts, etc.</p>
                        <div class="price">
                            <p>$165</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="text blue text-center">
                        <p class="height"><b>Business Casual: </b> for jobs that allow more casual, comfortable attire such as khakis, sweaters, jeans, polo shirts, etc.</p>
                        <div class="price">
                            <p>$135</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="text blue text-center">
                        <p class="height"><b>Uniform: </b> for any job that mandates a uniform (public safety, medical, military, etc.)</p>
                        <div class="price">
                            <p>$49</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text blue text-center">
                        <p><b>Dress-up Attire </b> </p>
                        <div class="price">
                            <p>$150</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="food-menu yellow gray life-style">
            <div class="row">
                <div class="col-md-12">
                    <div class="text blue">
                        <h4>Hair</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-5">
                    <div class="text blue text-center">
                        <p><b>Salon </b></p>
                        <div class="price">
                            <p>$100</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="text blue text-center">
                        <p><b>Barber Shop</b></p>
                        <div class="price">
                            <p>$25</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 mb-5">

                </div>
                <!-- <div class="col-md-12 mb-5">
                    <div class="text network text-center">
                        <h3>OTHER SALON SERVICES</h3>
                    </div>
                </div> -->
                <!-- <div class="col-md-3 mb-5 mb-md-0">
                    <div class="text blue text-center">
                        <p><b>Manicure</b></p>
                        <div class="price">
                            <p>$35</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div> -->
                <!-- 
                <div class="col-md-3 mb-5 mb-md-0">
                    <div class="text blue text-center">
                        <p><b>Pedicure</b></p>
                        <div class="price">
                            <p>$45</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div> -->
                <!-- <div class="col-md-3 mb-5 mb-md-0">
                    <div class="text blue text-center">
                        <p><b>Facial </b></p>
                        <div class="price">
                            <p>$75</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 mb-5 mb-md-0">
                    <div class="text blue text-center">
                        <p><b>Massage  </b></p>
                        <div class="price">
                            <p>$85</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div> -->

            </div>
        </div>


        <div class="food-menu yellow life-style">
            <div class="row">
                <div class="col-md-12">
                    <div class="text blue">
                        <h4>Other Salon Services</h4>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-3 mb-5 mb-md-0">
                    <div class="text blue text-center">
                        <p><b>Manicure</b></p>
                        <div class="price">
                            <p>$35</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div>

                <div class="col-md-3 mb-5 mb-md-0">
                    <div class="text blue text-center">
                        <p><b>Pedicure</b></p>
                        <div class="price">
                            <p>$45</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 mb-5 mb-md-0">
                    <div class="text blue text-center">
                        <p><b>Facial  </b></p>
                        <div class="price">
                            <p>$75</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 mb-5 mb-md-0">
                    <div class="text blue text-center">
                        <p><b>Massage  </b></p>
                        <div class="price">
                            <p>$85</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <div class="food-menu yellow gray life-style">
            <div class="row">
                <div class="col-md-12">
                    <div class="text">
                        <h4>Cellphone</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-5 mb-md-0">
                    <div class="text blue text-center">
                        <p class="height"><b>iPhone, Android:</b> Includes phone purchase, monthly fee, and an unlimited data plan </p>
                        <div class="price">
                            <p>$100</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 mb-5 mb-md-0">
                    <div class="text blue text-center">
                        <p class="height"><b>iPhone, Android:</b> Includes phone purchase, monthly fee, and a limited data plan </p>
                        <div class="price">
                            <p>$60</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 mb-5 mb-md-0">
                    <div class="text blue text-center">
                        <p class="height"><b>Trac Phone</b> <br> Pay-as-you-go, unlimited talk and text, 2GB of data</p>
                        <div class="price">
                            <p>$25</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="food-menu yellow  life-style">
            <div class="row">
                <div class="col-md-12">
                    <div class="text blue">
                        <h4>Cable/Internet Services</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-5">
                    <div class="text blue text-center">
                        <p><b>Premium  Cable/Internet </b></p>
                        <div class="price">
                            <p>$180</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="text blue text-center">
                        <p><b>Basic Cable</b></p>
                        <div class="price">
                            <p>$80</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="text  blue text-center">
                        <p><b>Internet only</b></p>
                        <div class="price">
                            <p>$50</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-5 mb-md-0">
                    <div class="text blue text-center">
                        <p><b>Hulu Basic + Live TV </b></p>
                        <div class="price">
                            <p>$55</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5 mb-md-0">
                    <div class="text blue text-center">
                        <p><b>Apple TV </b></p>
                        <div class="price">
                            <p>$5</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-5 mb-md-0">
                    <div class="text blue text-center">
                        <p><b>YouTube TV </b></p>
                        <div class="price">
                            <p>$65</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="nav-bottom">
                        <ul>
                            <li><a routerLink="/money-modules">MONEY MODULES</a></li>
                            <li><a routerLink="/help">HELP</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/credit-for-Life-logo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>