<nav class="navbar navbar-expand-xl navbar-light site-nav">
    <div class="container-fluid align-items-center">
        <a class="navbar-brand" href="index.html"> <img src="assets/images/credit-for-Life-logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav ml-auto">
                <li>
                    <a href="#">CHECKING BALANCE
                        <span>$X,XXX</span></a>
                </li>
                <li>
                    <a href="#">SAVINGS BALANCE
                        <span>$X,XXX</span></a>
                </li>
                <li>
                    <a href="#">Credit Card Balance
                        <span>$X,XXX</span></a>
                </li>
                <li class="link-bg">
                    <a href="d-profile.html" class="profile">PROFILE</a>
                </li>
                <li class="link-bg">
                    <a href="#" class="help">HELP</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="banner">
    <div class="container">
        <form class="form">
            <div class="inputGroup">
                <input id="check1" name="check" type="checkbox">
                <label for="check1">
                <a href="charitable-giving.html">Charitable <br> Giving</a></label>
            </div>
            <div class="inputGroup">
                <input id="check2" name="check" type="checkbox">
                <label for="check2"> <a href="education-and-training.html">Education  <br>
                    & Training</a></label>
            </div>
            <div class="inputGroup">
                <input id="check3" name="check" type="checkbox">
                <label for="check3"> <a href="d-food-nutrition.html">Food & <br>
                    Nutrition  </a></label>
            </div>
            <div class="inputGroup">
                <input id="check4" name="check" type="checkbox" checked>
                <label for="check4"><a href="health-and-fitness.html">Health & <br>
                    Wellness </a></label>
            </div>
            <div class="inputGroup">
                <input id="check5" name="check" type="checkbox">
                <label for="check5"><a href="housing-furniture-and-utilities.html">Housing,  <br>
                    Furniture <br>
                    & Utilities</a></label>
            </div>
            <div class="inputGroup">
                <input id="check6" name="check" type="checkbox">
                <label for="check6"><a href="lifestyle.html">Lifestyle</a></label>
            </div>
            <div class="inputGroup">
                <input id="check7" name="check" type="checkbox">
                <label for="check7"><a href="fun-fun-fun.html">Fun! Fun! Fun!</a></label>
            </div>
            <div class="inputGroup">
                <input id="check8" name="check" type="checkbox" checked>
                <label for="check8"> <a href="part-time-Jobs.html">Part-time <br>
                    Jobs</a></label>
            </div>
            <div class="inputGroup">
                <input id="check9" name="check" type="checkbox">
                <label for="check9">  <a href="d-planning-for-the-future.html">Planning for <br>
                    the Future</a></label>
            </div>
            <div class="inputGroup">
                <input id="check10" name="check" type="checkbox">
                <label for="check10"> <a href="transportation.html">Transportation</a></label>
            </div>
        </form>
    </div>
</section>
<section class="food-nutrition">
    <div class="container">
        <div class="food-sec">
            <div class="row">
                <div class="col-md-3">
                    <div class="box">
                        <img src="assets/images/jobs.png" alt="jobs" />
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="text">
                        <p>Part-time Jobs</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="food-menu">
            <div class="row">
                <div class="col-md-9">
                    <div class="text">
                        <p>As you begin your career, you may not yet be at the peak of your earnings, which is why you may want to supplement your income with a part-time job. Make sure your full-time job affords you the time to take on a second job:
                            busy professions like doctors, dentists and engineers need not apply! <b> Part-time jobs are ONLY available to those making $45,000 or less.</b> </p>
                    </div>
                </div>
                <div class="col-md-3 p-md-0">
                    <div class="text side">
                        <h5>Have a question? </h5>
                        <!-- <p>Help is just a click away.</p> -->
                        <a class="btn" href="#">CHAT</a>
                    </div>
                    <div class="text side video">
                        <h5>FINANCIAL VIDEOS</h5>
                        <a class="btn" href="#"><img src="assets/images/video.png" alt="video" /> MONEY MODULES
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="food-menu yellow life-style">
            <div class="row">
                <div class="col-md-12">
                    <div class="text">
                        <h4>Employment Choices</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6 mb-5">
                            <div class="text text-center line blue">
                                <h5>Nanny</h5>
                                <p>
                                    $15/hour, 10 hours/week <br>
                                    <b> Gross Monthly:</b> $600<br>
                                    <b> Net Monthly:</b> $540</p>
                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <div class="text text-center line blue">
                                <h5>Store Clerk</h5>
                                <p>$13.50/hour, 15 hours/week <br>
                                    <b>Gross Monthly:</b> $660 <br>
                                    <b>Net Monthly:</b> $594</p>
                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-5">
                            <div class="text text-center line blue">
                                <h5>Prep Cook </h5>
                                <p>$12.50/hour, 12 hours/week<br>
                                    <b>Gross Monthly:</b> $600<br>
                                    <b>Net Monthly:</b> $540</p>
                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <div class="text text-center line blue">
                                <h5>Courier</h5>
                                <p>$13.50/hour, 10 hours/week<br>
                                    <b>Gross Monthly:</b> $500 <br>
                                    <b>Net Monthly:</b> $450</p>
                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6 mb-5">
                            <div class="text text-center line blue">
                                <h5>Food Delivery </h5>
                                <p>$13/hour, 12 hours/week <br>
                                    <b>Gross Monthly:</b> $624 <br>
                                    <b>Net Monthly:</b> $562</p>
                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <div class="text text-center line blue">
                                <h5>Server/Catering Company</h5>
                                <p>$15/hour 12 hours/week <br>
                                    <b>Gross Monthly:</b> $720 <br>
                                    <b>Net Monthly:</b> $648</p>
                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-5">
                            <div class="text text-center line blue">
                                <h5>Rideshare Driver </h5>
                                <p>$19.00/hour, 12 hours/week <br>
                                    <b>Gross Monthly:</b> $912<br>
                                    <b>Net Monthly:</b> $912 </p>
                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <div class="text text-center line blue">
                                <h5>Counter Service / Donut Shop</h5>
                                <p>$12/hour, 15 hours/week <br>
                                    <b>Gross Monthly:</b> $660 <br>
                                    <b>Net Monthly:</b> $594</p>
                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6 mb-5">
                            <div class="text text-center line blue">
                                <h5>Customer Service / Call Center </h5>
                                <p>$12.50/ hour, 10 hours/week<br>
                                    <b>Gross Monthly:</b> $500 <br>
                                    <b>Net Monthly:</b> $450 </p>
                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <div class="text text-center line blue">
                                <h5>Restaurant Host / Hostess</h5>
                                <p>$12/hour, 12 hours/week <br>
                                    <b>Gross Monthly:</b> $576 <br>
                                    <b>Net Monthly:</b> $519</p>
                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text text-center line blue">
                                <h5>Tutor</h5>
                                <p>$20/hour <br>
                                    <b>Gross Monthly:</b> $800 <br>
                                    <b>Net Monthly:</b> $800 </p>
                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="nav-bottom">
                        <ul>
                            <li><a routerLink="/money-modules">MONEY MODULES</a></li>
                            <li><a routerLink="/help">HELP</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/credit-for-Life-logo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>