.admin-table {
    padding: 50px 0px;
    .card {
        margin: 30px 0px;
        .card-header {
            h5 {
                button {
                    padding: 0px;
                    text-decoration: none;
                    color: #0A2463;
                    text-decoration: none;
                    font: 16px/20px 'Poppins'
                }
            }
        }
    }
}