<nav class="navbar navbar-expand-xl navbar-light site-nav">
    <div class="container-fluid align-items-center">
        <a class="navbar-brand" href="index.html"> <img src="assets/images/credit-for-Life-logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav ml-auto">
                <li>
                    <a href="#">CHECKING BALANCE
                        <span>$X,XXX</span></a>
                </li>
                <li>
                    <a href="#">SAVINGS BALANCE
                        <span>$X,XXX</span></a>
                </li>
                <li>
                    <a href="#">Credit Card Balance
                        <span>$X,XXX</span></a>
                </li>
                <li class="link-bg">
                    <a href="d-profile.html" class="profile">PROFILE</a>
                </li>
                <li class="link-bg">
                    <a href="#" class="help">HELP</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="banner">
    <div class="container">
        <form class="form">
            <div class="inputGroup">
                <input id="check1" name="check" type="checkbox">
                <label for="check1">
                    <a href="charitable-giving.html">Charitable <br> Giving</a></label>
            </div>
            <div class="inputGroup">
                <input id="check2" name="check" type="checkbox">
                <label for="check2"> <a href="education-and-training.html">Education  <br>
                    & Training</a></label>
            </div>
            <div class="inputGroup">
                <input id="check3" name="check" type="checkbox">
                <label for="check3"> <a href="d-food-nutrition.html">Food & <br>
                    Nutrition  </a></label>
            </div>
            <div class="inputGroup">
                <input id="check4" name="check" type="checkbox" checked>
                <label for="check4"><a href="health-and-fitness.html">Health & <br>
                    Wellness </a></label>
            </div>
            <div class="inputGroup">
                <input id="check5" name="check" type="checkbox">
                <label for="check5"><a href="housing-furniture-and-utilities.html">Housing,  <br>
                    Furniture <br>
                    & Utilities</a></label>
            </div>
            <div class="inputGroup">
                <input id="check6" name="check" type="checkbox">
                <label for="check6"><a href="lifestyle.html">Lifestyle</a></label>
            </div>
            <div class="inputGroup">
                <input id="check7" name="check" type="checkbox">
                <label for="check7"><a href="fun-fun-fun.html">Fun! Fun! Fun!</a></label>
            </div>
            <div class="inputGroup">
                <input id="check8" name="check" type="checkbox" checked>
                <label for="check8"> <a href="part-time-Jobs.html">Part-time <br>
                    Jobs</a></label>
            </div>
            <div class="inputGroup">
                <input id="check9" name="check" type="checkbox">
                <label for="check9">  <a href="d-planning-for-the-future.html">Planning for <br>
                    the Future</a></label>
            </div>
            <div class="inputGroup">
                <input id="check10" name="check" type="checkbox">
                <label for="check10"> <a href="transportation.html">Transportation</a></label>
            </div>
        </form>
    </div>
</section>
<section class="food-nutrition">
    <div class="container">
        <div class="food-sec">
            <div class="row">
                <div class="col-md-3">
                    <div class="box">
                        <img src="assets/images/fun.png" alt="fun" />
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="text">
                        <p>Fun-Fun-Fun! </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="food-menu">
            <div class="row">
                <div class="col-md-9">
                    <div class="text">
                        <p>You work hard and have earned some fun…but it is important to prioritize needs over wants. Think carefully about which vacations, sporting events, theatre tickets and other fun activities matter to you, and balance them with
                            what you think you can reasonably afford.</p>
                    </div>
                </div>
                <div class="col-md-3 p-md-0">
                    <div class="text side">
                        <h5>Have a question? </h5>
                        <!-- <p>Help is just a click away.</p> -->
                        <a class="btn" href="#">CHAT</a>
                    </div>
                    <div class="text side video">
                        <h5>FINANCIAL VIDEOS</h5>
                        <a class="btn" href="#"><img src="assets/images/video.png" alt="video" /> MONEY MODULES
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="food-menu yellow life-style">
            <div class="row">
                <div class="col-md-12">
                    <div class="text">
                        <h4>Vacation Packages</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4  mb-3 mb-md-0">
                    <div class="text text-center blue">
                        <p>
                            <b>Aruba:</b><br> Enjoy a four-day trip including three nights in a hotel, tours and airfare.
                        </p>
                        <div class="price">
                            <p>$1,515</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="text text-center blue">
                        <p><b>New Hampshire</b><br> Hit the slopes including two nights in a hotel and lift tickets.</p>
                        <div class="price">
                            <p>$500</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4  mb-3 mb-md-0">
                    <div class="text text-center blue">
                        <p>
                            <b>Caribbean  </b><br> Experience St. Thomas, Grand Turks and Cozumel on a seven-night cruise.
                        </p>
                        <div class="price">
                            <p>$1,049</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="text text-center blue">
                        <p><b>Maine </b><br> Stay close to home in Maine, including one night in a cabin and two days of guided rafting. </p>
                        <div class="price">
                            <p>$104</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="food-menu yellow gray life-style">
            <div class="row">
                <div class="col-md-12">
                    <div class="text blue">
                        <h4 class="mb-0">Entertainment & More</h4>
                        <p class="mb-4">How will you spend your days off? Concerts? Movies? The choice is yours!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="text text-center blue">
                        <p><b>New England <br>
                            Patriots Ticket </b></p>
                        <div class="price">
                            <p>$159</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="text text-center blue">
                        <p><b>Live Theater <br> Performance </b></p>
                        <div class="price">
                            <p>$95</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="text text-center blue">
                        <p><b>Live Concert</b></p>
                        <div class="price">
                            <p>$75</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="text text-center blue">
                        <p><b>Red Sox <br> Grandstand Seat </b></p>
                        <div class="price">
                            <p>$66</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="text text-center blue">
                        <p><b>Takeout and <br> Netflix Movie</b></p>
                        <div class="price">
                            <p>$35</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <div class="food-menu yellow life-style">
            <div class="row">
                <div class="col-md-12">
                    <div class="text">
                        <h4>TV</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4  mb-3 mb-md-0">
                    <div class="text text-center blue">
                        <p class="h-50"><b>50” Smart TV</b></p>
                        <div class="price">
                            <p>$370</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  mb-3 mb-md-0">
                    <div class="text text-center blue">
                        <p class="h-50"><b>40” Smart TV</b></p>
                        <div class="price">
                            <p>$250</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="text text-center blue">
                        <p><b>Apple Fire TV <br> Stick</b></p>
                        <div class="price">
                            <p>$48</p>
                            <a class="btn" href="#">SELECT</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="food-menu yellow gray life-style">
            <div class="row">
                <div class="col-md-12">
                    <div class="text">
                        <h4>Pets</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-5">
                    <div class="text line blue">
                        <h5>Adopt a puppy</h5>
                        <p><b>Fee:</b> $150 (one-time) </p>
                        <p><b>Food:</b>$40 </p>
                        <p><b>Vet expenses:</b> $50 (heartworm & flea/tick meds) </p>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <p><b>TOTAL MONTHLY <br>
                                    COST:</b> $240</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <div class="text line blue">
                        <h5>Adopt a kitten</h5>
                        <p><b>Fee:</b> $75 (one-time) </p>
                        <p><b>Food:</b> $30 </p>
                        <p><b>Vet expenses:</b> $30 (heartworm & flea/tick meds) </p>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <p><b>TOTAL MONTHLY <br>
                                    COST:</b> $130</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="nav-bottom">
                        <ul>
                            <li><a routerLink="/money-modules">MONEY MODULES</a></li>
                            <li><a routerLink="/help">HELP</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/credit-for-Life-logo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>