<nav class="navbar navbar-expand-xl navbar-light site-nav">
    <div class="container-fluid align-items-center">
        <a class="navbar-brand" href="index.html"> <img src="assets/images/credit-for-Life-logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav ml-auto">
                <li>
                    <a href="#">CHECKING BALANCE
                        <span>$X,XXX</span></a>
                </li>
                <li>
                    <a href="#">SAVINGS BALANCE
                        <span>$X,XXX</span></a>
                </li>
                <li>
                    <a href="#">Credit Card Balance
                        <span>$X,XXX</span></a>
                </li>
                <li class="link-bg">
                    <a href="d-profile.html" class="profile">PROFILE</a>
                </li>
                <li class="link-bg">
                    <a href="#" class="help">HELP</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="banner">
    <div class="container">
        <form class="form">
            <div class="inputGroup">
                <input id="check1" name="check" type="checkbox">
                <label for="check1">
                    <a href="charitable-giving.html">Charitable <br> Giving</a></label>
            </div>
            <div class="inputGroup">
                <input id="check2" name="check" type="checkbox">
                <label for="check2"> <a href="education-and-training.html">Education  <br>
                    & Training</a></label>
            </div>
            <div class="inputGroup">
                <input id="check3" name="check" type="checkbox">
                <label for="check3"> <a href="d-food-nutrition.html">Food & <br>
                    Nutrition  </a></label>
            </div>
            <div class="inputGroup">
                <input id="check4" name="check" type="checkbox" checked>
                <label for="check4"><a href="health-and-fitness.html">Health & <br>
                    Wellness </a></label>
            </div>
            <div class="inputGroup">
                <input id="check5" name="check" type="checkbox">
                <label for="check5"><a href="housing-furniture-and-utilities.html">Housing,  <br>
                    Furniture <br>
                    & Utilities</a></label>
            </div>
            <div class="inputGroup">
                <input id="check6" name="check" type="checkbox">
                <label for="check6"><a href="lifestyle.html">Lifestyle</a></label>
            </div>
            <div class="inputGroup">
                <input id="check7" name="check" type="checkbox">
                <label for="check7"><a href="fun-fun-fun.html">Fun! Fun! Fun!</a></label>
            </div>
            <div class="inputGroup">
                <input id="check8" name="check" type="checkbox" checked>
                <label for="check8"> <a href="part-time-Jobs.html">Part-time <br>
                    Jobs</a></label>
            </div>
            <div class="inputGroup">
                <input id="check9" name="check" type="checkbox">
                <label for="check9">  <a href="d-planning-for-the-future.html">Planning for <br>
                    the Future</a></label>
            </div>
            <div class="inputGroup">
                <input id="check10" name="check" type="checkbox">
                <label for="check10"> <a href="transportation.html">Transportation</a></label>
            </div>
        </form>
    </div>
</section>

<div class="grant-money">
    <div class="container">
        <a href="#" data-toggle="modal" data-target="#creditscore1">APPLY FOR GRANT MONEY</a>
    </div>
</div>
<footer class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="nav-bottom">
                        <ul>
                            <li><a routerLink="/money-modules">MONEY MODULES</a></li>
                            <li><a routerLink="/help">HELP</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/credit-for-Life-logo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>




<div class="credit-score-one-modal">
    <div class="modal fade show" id="creditscore1" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true" style="display: block;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>WANT TO INCREASE YOUR CREDIT SCORE BY </h4>
                    <h5 class="modal-title" id="title">50 POINTS? </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="text">
                        <form>
                            <p class="text-center">Answer any <b>3</b> of these questions correctly</p>
                            <div class="check-info-list">
                                <p><span>3.</span>You went away on a much-needed vacation for a week. You forgot to pay your cell phone bill. This is no big deal.</p>
                                <div class="check-list">
                                    <div class="filter">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <ul>
                                                    <li>
                                                        <input class="check-box yes" id="y1" type="checkbox" value="value1" checked>
                                                        <label for="y1">YES</label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-2">
                                                <ul>
                                                    <li>
                                                        <input class="check-box no" id="y2" type="checkbox" value="value2">
                                                        <label for="y2">NO</label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="text-show">
                                                    <div class="show-data">
                                                        <p>Yes, they can obtain your credit report. This will show your credit history and other money habits. They may consider you to be a potential risk as a tenant if you do not pay your bills on time.</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="check-info-list">
                                <p><span>6.</span> 830 is a great credit score. </p>
                                <div class="check-list">
                                    <div class="filter">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <ul>
                                                    <li>
                                                        <input class="check-box yes" id="y3" type="checkbox" value="value3" checked>
                                                        <label for="y3">YES</label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-2">
                                                <ul>
                                                    <li>
                                                        <input class="check-box no" id="y4" type="checkbox" value="value4">
                                                        <label for="y4">NO</label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="check-info-list last">
                                <p><span>7. </span>540 is a bad credit score. </p>
                                <div class="check-list">
                                    <div class="filter">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <ul>
                                                    <li>
                                                        <input class="check-box yes" id="t1" type="checkbox" value="value5">
                                                        <label for="t1">TRUE</label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-2">
                                                <ul>
                                                    <li>
                                                        <input class="check-box no" id="t2" type="checkbox" value="value6" checked>
                                                        <label for="t2">FALSE</label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="check-info-list last">
                                <p><span>8.</span> You are purchasing a new car and planning to finance through the dealership. Your interest rate and new car payment is affected by your credit score. </p>
                                <div class="check-list">
                                    <div class="filter">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <ul>
                                                    <li>
                                                        <input class="check-box yes" id="t3" type="checkbox" value="value7" checked>
                                                        <label for="t3">TRUE</label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-2">
                                                <ul>
                                                    <li>
                                                        <input class="check-box no" id="t4" type="checkbox" value="value8">
                                                        <label for="t4">FALSE</label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="text-show">
                                                    <div class="show-data">
                                                        <p>True. Having a good credit score will lower your interest rate and monthly payment. </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="check-info-list last">
                                <p><span>9. </span> Name 1 of the top 3 Credit Reporting Agencies </p>
                                <div class="check-list">
                                    <div class="filter">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <ul class="p-0">
                                                    <li>
                                                        <input type="text" class="form-control" id="report" placeholder="TransUnion">
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <ul class="p-0">
                                                    <li>
                                                        <input type="text" class="form-control" id="report" placeholder="Equifax">
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <ul class="p-0">
                                                    <li>
                                                        <input type="text" class="form-control" id="report" placeholder="Experian">
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>