<nav class="navbar navbar-expand-xl navbar-light site-nav">
    <div class="container-fluid align-items-center">
        <a class="navbar-brand" href="index.html"> <img src="assets/images/credit-for-Life-logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav ml-auto">
                <li>
                    <a href="#">CHECKING BALANCE
                        <span>$X,XXX</span></a>
                </li>
                <li>
                    <a href="#">SAVINGS BALANCE
                        <span>$X,XXX</span></a>
                </li>
                <li>
                    <a href="#">Credit Card Balance
                        <span>$X,XXX</span></a>
                </li>
                <li class="link-bg">
                    <a href="d-profile.html" class="profile">PROFILE</a>
                </li>
                <li class="link-bg">
                    <a href="#" class="help">HELP</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="banner">
    <div class="container">
        <form class="form">
            <div class="inputGroup">
                <input id="check1" name="check" type="checkbox">
                <label for="check1">
                <a href="charitable-giving.html">Charitable <br> Giving</a></label>
            </div>
            <div class="inputGroup">
                <input id="check2" name="check" type="checkbox">
                <label for="check2"> <a href="education-and-training.html">Education  <br>
                    & Training</a></label>
            </div>
            <div class="inputGroup">
                <input id="check3" name="check" type="checkbox">
                <label for="check3"> <a href="d-food-nutrition.html">Food & <br>
                    Nutrition  </a></label>
            </div>
            <div class="inputGroup">
                <input id="check4" name="check" type="checkbox" checked>
                <label for="check4"><a href="health-and-fitness.html">Health & <br>
                    Wellness </a></label>
            </div>
            <div class="inputGroup">
                <input id="check5" name="check" type="checkbox">
                <label for="check5"><a href="housing-furniture-and-utilities.html">Housing,  <br>
                    Furniture <br>
                    & Utilities</a></label>
            </div>
            <div class="inputGroup">
                <input id="check6" name="check" type="checkbox">
                <label for="check6"><a href="lifestyle.html">Lifestyle</a></label>
            </div>
            <div class="inputGroup">
                <input id="check7" name="check" type="checkbox">
                <label for="check7"><a href="fun-fun-fun.html">Fun! Fun! Fun!</a></label>
            </div>
            <div class="inputGroup">
                <input id="check8" name="check" type="checkbox" checked>
                <label for="check8"> <a href="part-time-Jobs.html">Part-time <br>
                    Jobs</a></label>
            </div>
            <div class="inputGroup">
                <input id="check9" name="check" type="checkbox">
                <label for="check9">  <a href="d-planning-for-the-future.html">Planning for <br>
                    the Future</a></label>
            </div>
            <div class="inputGroup">
                <input id="check10" name="check" type="checkbox">
                <label for="check10"> <a href="transportation.html">Transportation</a></label>
            </div>
        </form>
    </div>
</section>
<section class="food-nutrition">
    <div class="container">
        <div class="food-sec">
            <div class="row">
                <div class="col-md-3">
                    <div class="box">
                        <img src="assets/images/jobs.png" alt="jobs" />
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="text">
                        <p>Planning for the Future</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="food-menu plan">
            <div class="row">
                <div class="col-md-9">
                    <div class="text">
                        <p>Unexpected expenses pop up all the time, so it is important to build up your savings account and put money away early in your career for retirement. The sooner you begin putting money away for life after work, the more money
                            you will have to enjoy when you are ready to retire. </p>
                    </div>
                </div>
                <div class="col-md-3 p-md-0">
                    <div class="text side">
                        <h5>Have a question? </h5>
                        <!-- <p>Help is just a click away.</p> -->
                        <a class="btn" href="#">CHAT</a>
                    </div>
                    <div class="text side video">
                        <h5>FINANCIAL VIDEOS</h5>
                        <a class="btn" href="#"><img src="assets/images/video.png" alt="video" /> MONEY MODULES
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="food-menu yellow life-style">
            <div class="row">
                <div class="col-md-12">
                    <div class="text">
                        <h4>Monthly Savings</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6 mb-5">
                            <div class="text text-center line blue">
                                <h5>Option #1</h5>
                                <p>
                                    Monthly to Savings <br> Account </p>
                                <div class="price">
                                    <p>$50</p>
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <div class="text text-center line blue">
                                <h5>Option #2</h5>
                                <p>Monthly to Savings <br> Account</p>
                                <div class="price">
                                    <p>$100</p>
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>

        <div class="food-menu yellow gray life-style">
            <div class="row">
                <div class="col-md-12">
                    <div class="text">
                        <h4> Retirement Savings</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6 mb-5">
                            <div class="text text-center line blue">
                                <h5>3% of Gross Pay </h5>
                                <p>
                                    Total Investment $8,400 Interest Earned $22,814 Account Balance at 68: $31,214 Balance at 68 with 10% ER match: $34,336</p>
                                <div class="price">

                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <div class="text text-center line blue">
                                <h5>5% of Gross Pay</h5>
                                <p>Total Investment $12,900 Interest Earned $98,974 Account Balance at 68: $111,874 Balance at 68 with 10% ER match: $123,061
                                </p>
                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <div class="text text-center line blue">
                                <h5>10% of Gross Pay</h5>
                                <p>
                                    Total Investment $16,800 Interest Earned $45,628 Account Balance at 68: $62,428 Balance at 68 with 10% ER match: $68,671
                                </p>
                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <div class="text text-center line blue">
                                <h5>15% of Gross Pay</h5>
                                <p>Total Investment $25,800 Interest Earned $197,947 Account Balance at 68: $223,747 Balance at 68 with 10% ER match: $246,122</p>
                                <div class="price">
                                    <a class="btn" href="#">SELECT</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>

    </div>
</section>

<footer class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="nav-bottom">
                        <ul>
                            <li><a routerLink="/money-modules">MONEY MODULES</a></li>
                            <li><a routerLink="/help">HELP</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/credit-for-Life-logo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>




<div class="calculator-modal second">
    <div class="modal fade show" id="truefalse" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true" style="display: block;padding-right:17px; ">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title">Calculator — 3%</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="text">
                        <form>
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-7 col-form-label">Gross Annual Salary</label>
                                <div class="col-sm-5 pl-md-0">
                                    <input type="text" class="form-control-plaintext" placeholder="$34,500">
                                </div>
                            </div>
                            <div class="calculat-btn">
                                <button type="submit" class="btn btn-primary">CALCULATE</button>
                            </div>
                        </form>
                        <div class="cost-sec">
                            <p>Monthly Cost: <span>$XXX.XX</span></p>
                            <p>Total Investment at age 65: <span>$XXX.XX</span></p>
                            <p>Total Interest Earned: <span>$XXX.XX</span></p>
                            <p>Account Balance at Age 68: <span>$XXX.XX</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>