<nav class="navbar navbar-expand-xl navbar-light site-nav">
    <div class="container-fluid align-items-center">
        <a class="navbar-brand" href="/"> <img src="assets/images/credit-for-Life-logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav ml-auto">
                <li>
                    <a href="#">CHECKING BALANCE
                        <span>$X,XXX</span></a>
                </li>
                <li>
                    <a href="#">SAVINGS BALANCE
                        <span>$X,XXX</span></a>
                </li>
                <li>
                    <a href="#">Credit Card Balance
                        <span>$X,XXX</span></a>
                </li>
                <li class="link-bg">
                    <a href="d-profile.html" class="profile">PROFILE</a>
                </li>
                <li class="link-bg">
                    <a href="#" class="help">HELP</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="banner">
    <div class="container">
        <form class="form">
            <div class="inputGroup">
                <input id="check1" name="check" type="checkbox">
                <label for="check1">
                    <a href="charitable-giving.html">Charitable <br> Giving</a></label>
            </div>
            <div class="inputGroup">
                <input id="check2" name="check" type="checkbox">
                <label for="check2"> <a href="education-and-training.html">Education  <br>
                    & Training</a></label>
            </div>
            <div class="inputGroup">
                <input id="check3" name="check" type="checkbox">
                <label for="check3"> <a href="d-food-nutrition.html">Food & <br>
                    Nutrition  </a></label>
            </div>
            <div class="inputGroup">
                <input id="check4" name="check" type="checkbox" checked>
                <label for="check4"><a href="health-and-fitness.html">Health & <br>
                    Wellness </a></label>
            </div>
            <div class="inputGroup">
                <input id="check5" name="check" type="checkbox">
                <label for="check5"><a href="housing-furniture-and-utilities.html">Housing,  <br>
                    Furniture <br>
                    & Utilities</a></label>
            </div>
            <div class="inputGroup">
                <input id="check6" name="check" type="checkbox">
                <label for="check6"><a href="lifestyle.html">Lifestyle</a></label>
            </div>
            <div class="inputGroup">
                <input id="check7" name="check" type="checkbox">
                <label for="check7"><a href="fun-fun-fun.html">Fun! Fun! Fun!</a></label>
            </div>
            <div class="inputGroup">
                <input id="check8" name="check" type="checkbox" checked>
                <label for="check8"> <a href="part-time-Jobs.html">Part-time <br>
                    Jobs</a></label>
            </div>
            <div class="inputGroup">
                <input id="check9" name="check" type="checkbox">
                <label for="check9">  <a href="d-planning-for-the-future.html">Planning for <br>
                    the Future</a></label>
            </div>
            <div class="inputGroup">
                <input id="check10" name="check" type="checkbox">
                <label for="check10"> <a href="transportation.html">Transportation</a></label>
            </div>
        </form>
    </div>
</section>
<section class="food-nutrition">
    <div class="container">
        <div class="food-sec">
            <div class="row">
                <div class="col-md-3">
                    <div class="box">
                        <img src="assets/images/service-icon.png" alt="service" />
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="text">
                        <p>Charitable Giving</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="food-menu">
            <div class="row">
                <div class="col-md-9">
                    <div class="text">
                        <p>Charitable giving is extremely important as it has the power to connect us intimately with the need in our communities and in the world. Here, you will find multiple ways to give back either by donating money OR time.</p>
                    </div>
                </div>
                <div class="col-md-3 p-md-0">
                    <div class="text side">
                        <h5>Have a question? </h5>
                        <!-- <p>Help is just a click away.</p> -->
                        <a class="btn" href="#">CHAT</a>
                    </div>
                    <div class="text side video">
                        <h5>FINANCIAL VIDEOS</h5>
                        <a class="btn" href="#"><img src="assets/images/video.png" alt="video" /> MONEY MODULES
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="food-menu yellow">
            <div class="row">
                <div class="col-md-9">
                    <div class="text">
                        <h4>Boston Marathon</h4>
                        <p>Your friend is running the Boston Marathon for Boston Children's Hospital. To support them, you will need to donate $50 or more.</p>
                    </div>
                </div>
                <div class="col-md-3 p-md-0">
                    <div class="text side">
                        <div class="price">
                            <p>$50</p>
                        </div>
                        <a class="btn" href="#">SELECT</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="food-menu yellow gray">
            <div class="row">
                <div class="col-md-9">
                    <div class="text">
                        <h4>Food Pantry</h4>
                        <p>The local food pantry is collecting money to restock its shelves. To donate, please support them with $10.</p>
                    </div>
                </div>
                <div class="col-md-3 p-md-0">
                    <div class="text side">
                        <div class="price">
                            <p>$10</p>
                        </div>
                        <a class="btn" href="#">SELECT</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="food-menu yellow">
            <div class="row">
                <div class="col-md-9">
                    <div class="text">
                        <h4>Habitat for Humanity </h4>
                        <p>Habitat for Humanity is looking for volunteers for a local house build project. To get involved, commit to volunteer 10 hours of your time.</p>
                    </div>
                </div>
                <div class="col-md-3 p-md-0">
                    <div class="text side">
                        <div class="price">
                            <p>N/A</p>
                        </div>
                        <a class="btn" href="#">SELECT</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="food-menu yellow gray">
            <div class="row">
                <div class="col-md-9">
                    <div class="text">
                        <h4>School Supplies</h4>
                        <p>Your sister started a GoFundMe to purchase school supplies for her classroom. To participate, donate $20.</p>
                    </div>
                </div>
                <div class="col-md-3 p-md-0">
                    <div class="text side">
                        <div class="price">
                            <p>$20</p>
                        </div>
                        <a class="btn" href="#">SELECT</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="food-menu yellow">
            <div class="row">
                <div class="col-md-9">
                    <div class="text">
                        <h4>Care Packages</h4>
                        <p>Support people serving overseas by providing funds that will be used to generate packages that your local service agency will ship. This opportunity requires a donation of $30.</p>
                    </div>
                </div>
                <div class="col-md-3 p-md-0">
                    <div class="text side">
                        <div class="price">
                            <p>$30</p>
                        </div>
                        <a class="btn" href="#">SELECT</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="food-menu yellow gray">
            <div class="row">
                <div class="col-md-9">
                    <div class="text">
                        <h4>Animal Shelter</h4>
                        <p>Your local animal shelter is in dire need of more pet food. To help restock, please pledge $20.</p>
                    </div>
                </div>
                <div class="col-md-3 p-md-0">
                    <div class="text side">
                        <div class="price">
                            <p>$20</p>
                        </div>
                        <a class="btn" href="#">SELECT</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="food-menu yellow">
            <div class="row">
                <div class="col-md-9">
                    <div class="text">
                        <h4>Homeless Shelter </h4>
                        <p>A homeless shelter needs to increase its supply of blankets. To help them, please donate $50.</p>
                    </div>
                </div>
                <div class="col-md-3 p-md-0">
                    <div class="text side">
                        <div class="price">
                            <p>$50</p>
                        </div>
                        <a class="btn" href="#">SELECT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="nav-bottom">
                        <ul>
                            <li><a routerLink="/money-modules">MONEY MODULES</a></li>
                            <li><a routerLink="/help">HELP</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/credit-for-Life-logo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>